:root {
    --font-title: "Roboto", sans-serif;
    --font-main: "Source Sans Pro", sans-serif;
    --font-size: 14px;
    --line-height: 1.3;
    --letter-spacing: 0.03em;
}

body {
    margin: 0;
    font-family: var(--font-main);
    font-weight: 400;
}
img {
    display: block;
    border: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
/* ____________________________TEXT STYLES________________________ */
.title{
    font-family: var(--font-title);
    text-align: center;
    font-size: 40px;
}
.subtitle{
    font-family: var(--font-title);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.section-text{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.70;
    letter-spacing: 0.03em;
}
.text{
font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.wrapper {
    display: flex;
    align-items: flex-start; 
}
.container{
    padding: 0 20px;
}
/* ______________________________SIDEBAR____________________________________ */

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 40px 40px 100px 40px;
    width: 350px;
   
    background-color: rgb(228, 227, 217);
}
.photo{
    width:240px;
    border-radius: 50%;
}
.title{
    margin-bottom: 10px;
}

.skills-list{
    padding: 10px;
}
.social-items{
    margin-bottom: 10px;
}
.social-list{
    margin-bottom: 30px;
}
.adress-list{
    margin-bottom:-10px;
}
.adress-item{
    margin-bottom: 10px;
}
.contact-link{
    color: rgb(0, 0, 0);
}

/* ________________________SECTION HERO________________________________ */
.section{
    padding:24px 0;
    border-bottom: 3px dashed rgb( 61, 144, 238);
}
.education{
    border: none;
}

.hero-prof-text {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

/* ________________________SECTION PROJECTS____________________________ */

.projects__list{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin: -5px;
}
.projects__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33333% - 20px);
    margin: 10px;
}
.projects__link{
    margin-bottom: 10px;
}
.projects__link:hover,
.projects__link:focus{
transition-duration: 300ms;
scale: 1.04;
}
.github-link{
    font-weight: 600;
    font-size: 18px;
    color: rgb(61, 144, 238);
}
.github-link:hover{
    transition-duration: 250ms;
    color: rgb(172, 107, 17);
    scale: 1.02;
}
.project-card-img{
    max-width: 120px;
}
